.bg-light{
    padding: 40px;
    .checkoutLogo{
        color: rgb(15, 2, 2);
        text-align: center;
        a img{
        display: block;
        margin: 0 auto;
        width: 150px;
        }
    }h3{
        margin: 50px;
    }
}