*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}
img{
    max-width:100%;
}
//Cards
.containerItems {
    width: 90%;
    margin: 60px auto;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    .cards {
        background-color: rgb(36, 129, 90, 0.726);
        color: white;
        margin: 30px 20px;
        border-radius: 3px;
        text-align: center;
        padding: 10px;
        .comprar{
            margin-bottom: 5px;
            padding: 5px;
            background-color: rgb(197, 28, 78);
            border-radius: 5px;
            color: wheat;
            border-color: rgba(22, 13, 1, 0.062);
            font-weight: 600;
            &:hover{
            transform: scale(1.3);
            transition: 0.8s;
        };
        }
        .price{
            font-size: 18px;
            font-weight: 600;
            margin-bottom: 5px;
        }
}
}

//  Modal Carrito


.modalContainer{
    width: 80%;
    margin: 100px 80px;
    max-height: 88vh;
    color: rgb(0, 0, 0);
    background-color: #ffffffe1;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    overflow: auto;
    z-index: 999;
    scrollbar-color: none;
    img{
        width: 70px;
    }
    h3{
        font-size: 25px;
    }
}&::-webkit-scrollbar{
    display: none;
}
.modal-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 1rem;
}
.modal-header{
    display: flex;
    flex-direction: row;
    font-family:Georgia, 'Times New Roman', Times, serif;
    justify-content: space-between;
    background-color: #379b96;
    color: rgb(210, 223, 235);
    width: 100%;
    .title{
        justify-self: start
    }
}
.modal-header-button{
    cursor: pointer;
}





//Total de compra
.total-content{
    font-size: 2.5rem;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin: 10px;
    background-color: rgba(255, 0, 85, 0.658);
    color: rgb(255, 255, 255);
}

//eliminar producto del carrito
.delete-product{
    cursor: pointer;
}

// contador en carrito 

.cantidad-carrito{
    background-color: rgb(241, 36, 115);
    color: rgb(255, 255, 255);
    border-radius: 15px;
    font-size: 20px;
    padding: 10px;
    top: 15px;
    right: 15px;
    position: absolute;
    display: none;
}

.sumar{
    cursor: pointer;
}

.restar{
    cursor: pointer;
}

//pasar al checkout

.irApagar{
    background-color: rgb(7, 0, 3);
    border-radius: 5px;
    font-size: 1.5rem;
    padding: .6rem;
    margin: 10px;
    a{
        text-decoration: none;
        color: #ececec;

    }
}